* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.App {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease;
}

.App:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.logo {
  width: 100px; /* Adjust logo size */
  margin-bottom: 20px; /* Space between logo and title */
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.form-group {
  margin: 15px 0;
  text-align: left;
  width: 100%;
}

label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 5px;
  outline: none;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #5853b9;
  background-color: #fff;
}

button {
  background-color: #343f90;
  color: rgb(255, 255, 255);
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #406eed;
  transform: translateY(-3px);
}

.result {
  margin-top: 30px;
  padding: 15px;
  background-color: #f0f9f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.result p {
  font-size: 18px;
  font-weight: bold;
  color: #d4c465;
}
